$primary: #47A99C;
$accent: #FBA736;

.bg-teal {
  background-color: $primary;
}

.text-footer {
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 0 !important;
}
