<div class="showcase-background" id="showcase">
  <div class="container h-100">
    <div class="row mt-5 d-flex align-items-center justify-content-between h-100">
      <div class="col-md-6 big-logo">
        <img src="assets/images/logo2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 d-flex flex-column align-items-center text-showcase">
        <h2 class="text-teal">Rustyn Simmons</h2>
        <h4 class="text-orange">-Full Stack Developer-</h4>
        <p class="text-teal">After graduating from college I spent the majority
          of my career on the sales side of software. This provided me a
          stable career but I have always been a creative person. In
          2018 I decided to transition into the programming side of the
          business. I have been freelancing ever since.
        </p>
        <a class="text-accent d-flex align-items-center" href='https://github.com/Rmckays'>
          <span>See my Github: &nbsp;</span>
          <i class="fa fa-github fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
