<div class="showcase-background" id="showcase">
  <div class="container h-100">
    <div class="row mt-5 d-flex align-items-center justify-content-between h-100">
      <div class="col-md-6 big-logo">
        <img src="assets/images/logo2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 d-flex flex-column align-items-center text-showcase">
        <h2 class="text-teal">Rustyn Simmons</h2>
        <h4 class="text-orange">-Full Stack Developer-</h4>
        <p class="text-teal">I am a full stack developer specializing in the MERN and Microsoft stacks. In addition,
          I have experience using Python with Flask. My professional development experience includes freelance work since December 2018,
          as well as, working as a part-time mentor for people learning programming. If you are interested in seeing my work please
          check out my github below.
        </p>
        <a class="text-accent d-flex align-items-center" href='https://github.com/Rmckays'>
          <span>See my Github: &nbsp;</span>
          <i class="fa fa-github fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
