$primary: #47A99C;
$accent: #FBA736;

.text-orange {
  color: $accent;
  text-align: center;
  padding: 1em 0 1em 0;
}

.text-about {
  font-size: 1.3em;
}

.photo {
  border-radius: 50%;
}

.text-teal {
  color: $primary;
}

@media screen and (max-width: 600px) {

  .text-about {
    margin-top: 2em;
    text-align: center;
    font-size: 1em;
  }
}
