<div class="bg-dark mt-3">
  <div class="container h-100">
    <h2 class="text-orange col-12 m-auto pt-3" id="about">About</h2>
    <div class="row mt-3 d-flex align-items-center justify-content-between h-100">
      <div class="col-md-4 photo">
        <img src="assets/images/Profphoto.jpg" class="img-fluid photo py-1" alt="">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7 d-flex flex-column align-items-center text-about">
        <p class="text-teal">I grew up in Arizona and have spent most of my life there with
          brief stints in Seattle and San Francisco. Currently I live in
          Phoenix with my beautiful wife and our spoiled Cavalier King
          Charles, Anry. I am extremely passionate about learning new
          things. That was part of the motivation for becoming a
          developer. Creativity plays a huge role in my life and I spend
          a good deal of my free time painting, drawing, and creating 3D
          digital art. I am happiest when I am working on building a new
          project whether that be a new application or a new piece of
          art. A few of my other hobbies include Game Development with
          Unity and C#, as well as, playing the piano and digital
          orchestration. If you are interested in checking out some of
          my projects take a look at my Github below.
        </p>
        <a class="text-orange d-flex align-items-center" href='http://localhost:4200/assets/resume/RSimmonsResume.pdf'>
          <span>Download my Resume: &nbsp;</span>
          <i class="fa fa-file"></i>
        </a>
      </div>
    </div>
  </div>
</div>
