<div class="container mt-3">
  <h2 class="text-orange col-12 m-auto py-5">Skills & Technologies</h2>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 text-teal skills-left">
      ASP.Net / C# <br/>
      Python / Flask <br/>
      Bootstrap / CSS / Sass <br/>
      Semantic-UI / Material-UI<br/>
      SQL Server / MySQL <br/>
      PostgreSQL / MongoDB <br/>
    </div>
    <div class="col-lg-5 text-teal skills-right mb-5" >
      Javascript / Typescript <br/>
      React / Angular <br/>
      Redux / MobX <br/>
      Git / Bash<br/>
      NodeJS <br/>
      Heroku / Azure <br/>
    </div>
  </div>
</div>
