<div class="container">
  <h2 class="text-orange col-12 m-auto py-5" id="portfolio">Portfolio</h2>
</div>
<carousel
  [itemsPerSlide]="slidesPerPage"
  [singleSlideOffset]="true"
  [startFromIndex]="0"
  [noWrap]="false"
  [interval]="10000">
  <slide *ngFor="let slide of slides" class="mx-auto">
    <div class="text-center py-2 bg-dark text-white mx-1">
      <img [src]="slide.image" alt="image slide" class="img-fluid" style="display: block;">
      <div class="lead py-1 mt-2">
        <h2 class="text-teal">{{slide.title}}</h2>
        <p class="text-teal p-height">{{slide.description}}</p>
        <div class="d-flex w-100 justify-content-center align-items-center">
          <a href="{{slide.website}}" class="text-orange px-1 ml-1">Try It!
            <i class="fa fa-globe text-orange"></i>
          </a>
          <a href="{{slide.github}}" class="text-orange px-1 mr-1">Github:
            <i class="fa fa-github text-orange"></i>
          </a>
        </div>
      </div>
    </div>
  </slide>
</carousel>
<!--<app-carousel></app-carousel>-->
