$primary: #47A99C;
$accent: #FBA736;

.bg-teal {
  background-color: $primary !important;
}

.text-orange {
  color: $accent;
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 1.3em;
}

.text-teal {
  color: $primary;
}

.p-height {
  height: 80px;
}

.text-orange:hover {
  color: $primary;
  text-decoration: none;
}

.text-slide {
  font-size: 1.3em;
}

@media screen and (max-width: 600px){
  .text-slide {
    font-size: 1em;
  }

  .text-orange {
    font-size: 1em;
  }
}
