$primary: #47A99C;
$accent: #FBA736;

.bg-teal {
  background-color: $primary;
}

.bg-orange {
  background-color: $accent;
}

.link-active {
  color: $accent !important;

  &:focus {
    color: $accent !important;
    text-decoration: none !important;
  }
}

.btn-active:focus {
  border: none !important;
}

@media screen and (max-width: 600px){
  .text-header {
    display: none !important;
  }
}
