<div class="px-md-4 mb-3 bg-teal  fixed-top">
  <nav class="d-flex align-items-center justify-content-between navbar navbar-light navbar-expand-md" style="font-size: larger">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <img src="assets/images/tealLogo.png" href="#" style="max-width: 50px;" alt="logo" class="navbar-brand">
      <h3 class="text-dark d-inline text-center text-header">Rustyn Simmons</h3>
    </a>
    <button type="button" class="btn d-sm-block d-md-none btn-active" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="p-2 text-dark text-dark font-weight-bold nav-link text-right" href="https://rustynsimmons.com">Home</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-dark text-dark font-weight-bold nav-link text-right" href="https://rustynsimmons.com/#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-dark text-dark font-weight-bold nav-link text-right" href="https://rustynsimmons.com/#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-dark text-dark font-weight-bold nav-link text-right" href="https://rustynsimmons.com0/#about">About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

